:root {
    --bg-color-main: hsl(39, 77%, 83%);
    --accent-color-main: teal;
}

html {
    font-family: JetBrainsMono, monospace;
}

main {
    animation: fadeIn 1s ease-in-out;
    transition: background-color .2s ease-in-out;
}

body.active #book header {
    cursor: pointer;
}
body.active #book header:hover {
    color: teal;
}

body:not(.active):hover main {
    cursor: pointer;
    background: rgba(0, 0, 0, .1);
}

/* animations */
@keyframes fadeIn {
    0% {
        opacity: 1;
        outline: thick solid darkturquoise;
    }
    10% {
        opacity: .9;
    }
    100% {
        opacity: 1;
        outline: thick solid teal;
    }
}