:root {
    --bg-main: wheat;
    --accent-main: teal;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-main);
}

main {
    border: thin solid var(--accent-main);
    padding: 2rem;
}
