:root {
    --bg-color-main: hsl(39, 77%, 83%);
    --accent-color-main: teal;
}

html {
    font-family: JetBrainsMono, monospace;

    --size-main: 20px;
}

main {
    font-size: var(--size-main);
    line-height: var(--size-main);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        outline: thick solid red;
    }
    10% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        outline: thick solid teal;
    }
}